extends ../layout


        
block content

    h2 
        span #{title} 
        a(href="/admin/category/new" class="btn btn-primary") Ajouter
    hr

    div.clearfix
   
    section
        //pre #{posts}
       
        table.table.table-striped
            thead
                tr.panel.panel-default
                    td
                        span Name
                        a(href="/admin/category/sort/name/1") ↑ 
                        a(href="/admin/category/sort/name/-1") ↓
                    
                    td.text-right Actions
                    
            
            each category in categories
                tr
                    td #{category.name}
                    td.text-right
                        .btn-group
                            a(href="/admin/category/edit/#{category._id}" class="btn btn-primary") Edit
                            a(href="/admin/category/delete/#{category._id}" class="btn btn-danger") Delete
                    
                    
        