.theme
	.item-heading
		
		//pre category
		.row.middle-xs
			.col-xs-8.col-md-9
				h2 #{category.name} 
			.col-xs-4.col-md-3.text-right
				.metas
					-var duration = 0;
					each track in category.posts
						-duration += parseFloat(track.duration)
					.duration #{moment.utc(duration*1000).format('mm:ss')} 
					img(src="img/play.svg" alt="play" class="play")
					img(src="img/pause.svg" alt="pause" class="pause")

	.item-body
		.mix
			each track in category.posts
				//pre #{track}
				.track(data-video_id="#{track.videoId}" data-duration="#{track.duration}")
					.row.middle-xs
						.col-xs-8.col-md-9
							-var pattern = new RegExp(category.name, 'gi');
							-var name = track.name.replace(pattern, '<span>'+category.name+'</span>')
							h3.track-name 
								.autoradio !{name}

					
						.col-xs-4.col-md-3.text-right
							div.action
								img(src="img/play.svg" alt="play" class="play")
								img(src="img/pause.svg" alt="pause" class="pause")
								div.time