-var duration = 0;
each track in category.posts
    -duration += parseFloat(track.duration)

if duration > 1200
    .theme
        .item-heading
            
            //pre category
            .row.middle-xs
                .col-xs-8.col-md-8
                    h2 #{category.name}
                    .deco
                        img(src="/img/visuals/#{category.name.toLowerCase()}.svg" onerror="this.className='img404'")
                .col-xs-4.col-md-4.text-right
                    .metas
                        //-var tot = duration * 1000;
                        //-var d = moment.duration({s: 1000});
                        //.duration #{moment().utc(duration*1000).format('hh:mm:ss')} 
                        //.duration #{moment().utc(duration*1000).format('*hh:mm:ss', { trunc: true })} 
                        if duration > 3600
                            .duration #{moment("2015-01-01").startOf('day').seconds(duration).format("HH:mm:ss", { trunc: true })}
                        else
                            .duration #{moment("2015-01-01").startOf('day').seconds(duration).format("mm:ss", { trunc: true })}
                        
                        img(src="/img/play.svg" alt="play" class="play")
                        img(src="/img/pause.svg" alt="pause" class="pause")

        .item-body
            .mix
                each track in category.posts
                    //pre #{track}
                    .track(data-video_id="#{track.videoId}" data-duration="#{track.duration}")
                        .row.middle-xs
                            .col-xs-8.col-md-8
                                -var pattern = new RegExp(category.name, 'gi');
                                -var matches = pattern.exec(track.name);
                                //pre #{matches}
                                -var name = track.name.replace(matches, '<span>'+matches+'</span>')
                                h3.track-name 
                                    .autoradio !{name} 
                        
                            .col-xs-4.col-md-4.text-right
                                div.action
                                    img(src="/img/play.svg" alt="play" class="play")
                                    img(src="/img/pause.svg" alt="pause" class="pause")
                                    div.time